// .search {
//     --background: white;
//     --border-radius: 20px;
//     border-radius: 10px;
//     height: 40px;
// }
 .whole{
--background:#F9FAFB;
}
.search{
   --background:#f3f4f6;
   --box-shadow:None;
    

}
.swiper {
  width: 100%;

}
// .searchb {
//     --box-shadow:none;

// }
.kk{
    --background:white;
}
.searchb {
--background:#F9FAFB;
    height: 10px;
    --box-shadow:none;
}
