// }
.search{
   --background:#f3f4f6;
   --box-shadow:None;
    

}
.swiper {
  width: 100%;

}
.searchb {
    --background:#F9FAFB;
        --box-shadow:none;


}
.bb{
    --background:#F9FAFB;
}
.kk{
    --background:white;
}