<div class="ion-page">
<ion-header>

  <div class="bg-blue-700 w-full  flex   sticky left-0 py-7 px-5 top-0 right-0 z-50 shadow-xl">
    <div class=" fixed top-2 left-2 z-50">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="seller-tabs" class="bb"></ion-back-button>
      </ion-buttons>
    </div>
    <div class="pt-8  gap-7  justify-center flex flex-col  w-full h-full   ">
      <div class=" gap-1 flex flex-col">
        <h1 class="text-[25px] font-semibold text-white">
          Create Product
        </h1>
        <p class="text-gray-100 text-[14px]">
          Add a new product to the platform
        </p>
      </div>


    </div>



  </div>
</ion-header>

<ion-content [fullscreen]="true" class="whole">
  <div class="p-4 flex flex-col gap-4">

    <div class="bg-white w-full  rounded-md p-4 flex flex-col gap-2 border shadow-md">
      <p class="text-[13px]">Product Photo</p>
      <div class="flex gap-5 items-center ">
        <div class="bg-blue-100 rounded-full flex justify-center items-center size-20">
          <lucide-icon [img]="user" class="w-8 h-8 text-blue-700">

          </lucide-icon>
        </div>
        <button class=" flex bg-blue-100 h-fit p-2 rounded-md gap-2 ">
          <ion-icon name="camera-outline" class="text-blue-700">

          </ion-icon>
          <span class="text-blue-700 text-[12px]">Upload Photo</span>
        </button>
      </div>
    </div>


    <div class="w-full bg-white  rounded-md border shadow-md p-3 flex flex-col gap-2">
      <p>Product Information</p>

      <form action="" class="w-full items-center  justify-center flex flex-col mt-1  pb-2 gap-2 ">
        <div class="gap-2 flex flex-col mb-1 w-full">
          <label for="" class="text-[13px]">Product Name</label>
          <input type="text" name="fullname" autocomplete="fullname"
            class=" placeholder:text-[13px] outline-none  h-11 rounded-md w-full border border-gray-300 pl-2 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 bg-gray-100"
            placeholder="Enter seller fullname" />
        </div>
        <div class="gap-2 flex flex-col mb-1 w-full">
          <label for="" class="text-[13px]">Farm / Business Name</label>
          <input type="number" name="amount"
            class=" placeholder:text-[13px] outline-none  h-11 rounded-md w-full border border-gray-300 pl-2 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 bg-gray-100"
            placeholder="Enter farm or business name">
        </div>



      </form>


    </div>



    <div class="w-full   bg-white  rounded-md border shadow-md p-3 flex flex-col gap-2">

      <form action="" class="w-full items-center  justify-center flex flex-col mt-1  pb-2 gap-2 ">
        <div class="gap-2 flex flex-col mb-1 w-full">
          <label for="" class="text-[13px]">Quantity Available</label>
          <input type="number" name="quantity"
            class=" placeholder:text-[13px] outline-none  h-11 rounded-md w-full border border-gray-300 pl-2 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 bg-gray-50"
            placeholder="Enter Password" />
        </div>
        <div class="gap-2 flex flex-col mb-1 w-full">
          <label for="" class="text-[13px]">About Product</label>
          <textarea
            class="  placeholder:text-[13px] text-[15px] outline-none px-2   rounded-md w-full border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-10 bg-gray-50"
            placeholder="">
          </textarea>
        </div>



      </form>


    </div>

    <button class="bg-blue-700 w-full text-[15px] text-white rounded-md   h-12 flex items-center justify-center" (click)="showToast('Product Created')">
      Create Product 
    </button>
  </div>

</ion-content>
</div>