.ios.toggle{
   --track-background-checked:#15803D ;
   --track-background:gray;
}
.md.toggle{
   --track-background-checked:rgb(224, 224, 224) ;
   --track-background:gray;
   --handle-background-checked:#15803D;
}
.bb{
   --color:white;
}