.great{
    background-image: url("https://i.pinimg.com/736x/e8/e9/ee/e8e9eefd03c8749c7f90d14b35968357.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 -250px 250px rgba(0,0,0,0.7);
}
ion-segment-view {
  height:100%;
}

ion-segment-content {

}
ion-segment-content:nth-of-type(1) {
}
ion-segment-content:nth-of-type(2) {
}
.btn{
    --background:#16A34A;

}
.bg{
}
.great
ion-segment-button {
  --indicator-color: #16A34A;
}

/* Material Design styles */
ion-segment-button.md {
  --color: #000;
  --color-checked: #16A34A;
  --indicator-height: 2px;
}

/* iOS styles */
ion-segment-button.ios {
  --color: black;
  --background-:#16A34A;
  --color-checked: #fff;
--indicator-color:#16A34A;
  
  // --border-radius: 20px;:
}