


<div class="ion-page">
  <ion-content  [fullscreen]="true">
<div class="bg-green-100 w-full h-full">
    <div class="w-full h-full flex items-center justify-center flex-col">
  
      <div class=" items-center flex flex-col gap-7">
        <div class="bg-green-700 rounded-full w-32 h-32 flex items-center justify-center">
          <ion-icon name="leaf-outline" class="w-14 h-14 text-white">
  
          </ion-icon>
        </div>
         <div class="flex flex-col gap-2 items-center px-5">
          <h1 class="text-3xl tiny:text-2xl font-bold text-green-700">
             AAUAMart
          </h1>
          <p class="text-green-600 tiny:text-[13px] leading-5 dark:text-gray-300 w-full ">
           Connecting Farmer to Consumer 
          </p>
        </div>
      </div>
    <button class="btn-big justify-center fixed bottom-10     text-white text-[15px]  "
           (click)="goToOption()">Get Started</button>
    </div>
  </div>
  </ion-content>


  
</div>

