.bb{
    --color:white;
}
.bgp{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfnx9jKtti9CuzmdchGRIEcC1HrzzHCEgQHg&s');
    background-position: center;
    background-size: cover;
}