/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.cart-toast {
  --background: #ffff ;
  --color: #000000;
  --border-radius: 10px;
  --box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 14px;
}
@layer components{
    .list {
        @apply  p-3
    }
    .list:hover{
        @apply bg-gray-100
    }

    .btn-big {
        @apply bg-green-700 h-11 rounded-md  w-[90%] text-[15px]
    }
     .btn {
        @apply bg-green-700 
    }
    .btn-big-outline {
        @apply bg-white border border-green-700 text-green-700 h-11  w-[90%] text-[12px]
    }
}


/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
